body {
  margin: 0%;
  padding: 0%;
  margin-bottom: 50px;
}

/*div that contains the calculator*/
#root {
  height: 50vw;
  width: 99.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*the body of calculator*/
.main-body {
  height: 250px;
  width: 180px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
/*screen of calculator*/
.content {
  height: 70px;
  width: 180px;
  display: flex;
}
/*div that contains all the buttons*/
.buttons {
  height: 250px;
  width: 180px;
  background-color: #a7c7e7;
  border-radius: 5px;
}
/*form that will show the output*/
.ans input {
  height: 70px;
  color: white;
  background-color: black;
  text-align: right;
  border-radius: 5px;
}
/* div that contains operator buttons */
.operators {
  display: flex;
  justify-content: space-evenly;
}
/*operator buttons style*/
.add,
.subtract,
.divide,
.multiply {
  background-color: #b19cd8;
  color: black;
  height: 25px;
  width: 25px;
  text-align: center;
  border: 0px;
  margin-top: 15px;
  border-radius: 2px;
}
/*operator button hover style*/
.add:hover,
.subtract:hover,
.divide:hover,
.multiply:hover {
  color: white;
}
/*numbered button styles*/
.num {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 2px;
  background-color: #ff8fab;
  border-color: #ff8fab;
}
/*div containing clear and equal button*/
.equal-clr {
  display: flex;
  justify-content: center;
  margin-top: 2.5px;
}
/*equal button*/
.equal {
  width: 70px;
  height: 25px;
  margin-top: 2.5px;
  margin-left: 4px;
  margin-right: 5px;
  background-color: #3eb489;
}
/*clear*/
.clr {
  height: 30px;
  width: 30px;
  margin-left: 27px;
  border-radius: 2px;
  background-color: #ff6961;
  border-color: #ff6961;
}
